<div class="col-md-12 text-right" *ngIf="Chatsservice.usuario.uid">

  <button type="button" class="btn btn-outline-danger"
          (click)="Chatsservice.logout()">
    Salir
  </button>
</div>

<div class=" container main-container">
  <div class=" chat-window">

    <!--<ul>
      <li class="text" *ngFor="let item of items | async">
        {{item.mensaje}}
      </li>
    </ul>
    -->
    <div>
      <h1>Firechat</h1>
      <hr>

      <div class="app-mensajes" id="app-mensajes">

        <div *ngFor="let chat of Chatsservice.chats"
        [ngClass]="{ 'text-right': Chatsservice.usuario.uid == chat.uid  }">
     <span class="badge"
           [ngClass]="{ 'badge-primary': Chatsservice.usuario.uid == chat.uid,
                        'badge-success': Chatsservice.usuario.uid != chat.uid }">
           {{ chat.nombre }}</span>
     <p>
       {{ chat.mensaje }}
     </p>
   </div>

      </div>

    </div>
    <input type="text" name="mensaje" class="form-control"
    [(ngModel)]="Mensaje" (keyup.enter)="Enviarmensaje()"
    placeholder="Enviar mensaje">

  </div>

</div>


