
  <div class="row">
    <div class="col-sm">
      <img src="https://miro.medium.com/max/600/1*sr9kNO37czeFXZfe7mo50w.png" alt="..." class="img-thumbnail">
    </div>
    <div class="col-sm">
      <h5>Open Authorization (OAuth) es un estándar abierto que permite flujos simples de autorización para sitios web o aplicaciones informáticas. ... OAuth permite a un usuario del sitio A compartir su información en el sitio A (proveedor de servicio) con el sitio B (llamado consumidor) sin compartir toda su identidad.</h5>
      <a lass="btn btn-link" href="https://auth0.com">auth0</a>
    </div>
  </div>

